
<div @scaleUp class="h-screen w-full justify-content-center align-content-center">
    <div class="flex flex justify-content-center align-content-center">
        <div class="card " style="width: 50%; background-color: rgba(79, 77, 77, 0.102); border-radius: 10px;">
            <div class="flex flex-column md:flex-row">
                @if (loaderState.loading) {
                    <div class="flex justify-content-center align-content-center py-5 px-5">
                        <app-loader [state]="loaderState.state"></app-loader>
                    </div>
                }
                @if(token)
                {            
                    @if (role) {
                        <div [class.hidden]="loaderState.loading" class="w-full md:w-5 flex flex-column">
                            <div class="flex justify-content-center error">
                                {{errorMessage}}
                            </div>
                            @if (role == "paciente") {
                                <app-form-register-paciente (onRegister)="onRegister($event)"></app-form-register-paciente>
                            }
                            @else if (role == "especialista") {
                                <app-form-register-especialista (onRegister)="onRegister($event)"></app-form-register-especialista>
                            }
                        </div>
                    }
                    @else {
                        <div>
                            <div class="w-full flex justify-content-center">
                                <h2>Selecciona tu Rol</h2>
                            </div>  
                            <div class="flex justify-content-center gap-2">
                                <div class="w-2">
                                    <img (click)="selectRole('paciente')" class="w-full role-button" src="assets/register/paciente.jpg" alt="paciente">
                                    <div class="flex w-full justify-content-center align-content-center">
                                        <p>Paciente</p>
                                    </div>
                                </div>
        
                                <div class="w-2">
                                    <img (click)="selectRole('especialista')" class="w-full role-button" src="assets/register/especialista.jpg" alt="paciente">
                                    <div class="flex w-full justify-content-center align-content-center">
                                        <p>Especialista</p>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    }    
                }
                @else {
                    <div class="py-5 px-5">
                        <re-captcha (resolved)="executeReCaptcha($event)"></re-captcha>
                    </div>
                }
                <div class="w-full md:w-2">
                    <p-divider layout="vertical" styleClass="hidden md:flex">
                        <b>O</b>
                    </p-divider>
                    <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
                        <b>O</b>
                    </p-divider>
                </div>
                <div class="w-full md:w-5 flex align-items-center justify-content-center py-5">
                    <p-button (onClick)="onLoginClick()" label="Ingresa" icon="pi pi-user" styleClass="p-button-success w-10rem" />
                </div>
            </div>
        </div>
    </div>
</div>
