<div @slideIn class="h-full card flex align-items-center justify-content-center">
    <div class="w-8 flex flex-wrap px-5 py-5 gap-2 surface-ground border-round justify-content-center">
        @if(estaViendoHorarios)
        {
            <div>
                <h2>{{ 'PROFILE.SCHEDULES' | translate }}</h2>
                <p-table [tableStyle]="{ 'overflow': 'auto' }" [styleClass]="'small'" [value]="horariosDiaSemana" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ 'PROFILE.SCHEDULES' | translate }}</th>
                            @for (dia of diaSemana; track $index) {
                                <th>{{ ("DAYS_OF_WEEK." + dia) | translate }}</th>
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-horario>
                        <tr>
                            <th>{{horario}}</th>
                            @for (dia of diaSemana; track $index) {
                                @if(dia != 'sabado')
                                {
                                    <th>
                                        <p-checkbox
                                            [(ngModel)]="mapHorarios[dia][horario]"
                                            [binary]="true" 
                                        ></p-checkbox>
                                    </th>
                                }
                                @else {
                                    @if(HorariosfinDeSemana.includes(horario))
                                    {
                                        <th>
                                            <p-checkbox
                                            [(ngModel)]="mapHorarios[dia][horario]"
                                            [binary]="true" 
                                            ></p-checkbox>
                                        </th>
                                    }
                                    @else {
                                        <th>-</th>
                                    }
                                }
                            }
                        </tr>
                    </ng-template>
                </p-table>
                <div class="flex align-content-center justify-content-center gap-2 py-2">
                    <p-button (onClick)="volver()" icon="pi pi-arrow-left" label="{{ 'PROFILE.BACK' | translate }}"></p-button>
                    <p-button (onClick)="clear()" icon="pi pi-eraser" label="{{ 'PROFILE.CLEAR' | translate }}"></p-button>
                    <p-button (onClick)="guardar()" icon="pi pi-save" label="{{ 'PROFILE.SAVE' | translate }}"></p-button>
                </div>
            </div>
        }
        @else {
            <img [class.pointer]="user.role == 'paciente'" (click)="changeImage()" [src]="getImagen()" [alt]="'PROFILE.PROFILE_IMAGE_ALT' | translate">
            <div style="overflow: auto;">
                <div>
                    <h2>{{user.nombre + ' ' + user.apellido}}</h2>
                    <hr>
                </div>
                <div>
                    <h3 style="display: inline;">{{ 'PROFILE.ROLE' | translate }}:</h3>
                    {{user.role}}
                </div>
                <div>
                    <h3 style="display: inline;">{{ 'PROFILE.AGE' | translate }}:</h3>
                    {{user.edad}}
                </div>
                <div>
                    <h3 style="display: inline;">{{ 'PROFILE.EMAIL' | translate }}:</h3>
                    {{user.email}}
                </div>
                <div>
                    <h3 style="display: inline;">{{ 'PROFILE.DNI' | translate }}:</h3>
                    {{user.dni}}
                </div>
                @if(user.role == 'paciente') {
                    <div>
                        <h3 style="display: inline;">{{ 'PROFILE.HEALTH_INSURANCE' | translate }}:</h3>
                        {{user['obraSocial']}}
                    </div>
                    <div class="flex align-content-center justify-content-center">
                        <p-button (onClick)="verHistoriaClinica()" icon="pi pi-clock" label="{{ 'PROFILE.MY_MEDICAL_HISTORY' | translate }}"></p-button>
                    </div>
                }
                @if(user.role == 'especialista') {
                    <div>
                        <h3 style="display: inline;">{{ 'PROFILE.SPECIALTIES' | translate }}:</h3>
                        {{user['especialidades']}}
                    </div>
                    <div class="flex align-content-center justify-content-center">
                        <p-button (onClick)="verHorarios()" icon="pi pi-clock" label="{{ 'PROFILE.MY_SCHEDULES' | translate }}"></p-button>
                    </div>
                }
            </div>
        }
    </div>
</div>

<p-dialog 
        header="{{ 'PROFILE.MY_MEDICAL_HISTORY' | translate }}" 
        [modal]="true" 
        [(visible)]="visibleHistoria" 
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" >
        @if (visibleHistoria) {
            <app-ver-historia-clinica [paciente]="getUserAsPaciente()"></app-ver-historia-clinica>
        }
</p-dialog>